<!-- JavaScript -->
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script><!-- Back to top script -->
<script src="{{site.baseurl}}/js/backtotop.js"></script>


<!-- Cookie management -->
<script defer type="text/javascript" src="{{site.baseurl}}/js/config.js"></script>
<script defer type="text/javascript" src="{{site.baseurl}}/js/klaro.js"></script>
<!-- End of body -->
<script>
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
  $('.popover-dismiss').popover({
    trigger: 'focus'
  })
</script>
{% if page.layout == 'default' and page.collection == 'discover' %}
<script defer type="text/javascript" src="{{ site.baseurl }}/js/progress.js"></script>
{% endif %}
{% if page.audio or page.video %}
<script src="https://cdn.plyr.io/3.6.2/plyr.js"></script>
{% endif %}
