{% assign words_per_minute = site.words_per_minute | default: 200 %}
{% if site.read_time %}
{% assign words = content | strip_html | number_of_words %}
{% endif %}
{% if words < words_per_minute %}
{{ site.data.ui-text[site.locale].less_than | default: "Maybe less than" }}<span class="ml-2 badge badge-light mr-2">1</span> {{ site.data.ui-text[site.locale].minute_read
  | default: "minute to read" }}
  {% elsif words == words_per_minute %}
  <span class="ml-2 badge badge-light mr-2">1</span> {{ site.data.ui-text[site.locale].minute_read
    | default: "minute read" }}
    {% else %}
    This might take <span class="ml-2 badge badge-light mr-2"> {{ words | divided_by:words_per_minute }}</span>
    {{ site.data.ui-text[site.locale].minute_read | default: "minutes to read" }}
    {% endif %}
